@model (List<EshopMVC.Models.Kategorie> Kategorie, List<EshopMVC.Models.Vyrobek> Vyrobky)

@{
	ViewData["Title"] = "Index";
}

<h1 class="tw-text-4xl">Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
	<thead>
		<tr>
			<th>
				Název
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Kategorie)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nazev)
				</td>
				<td><a href="/Home/Kategorie/@item.KategorieId">Přejít na @item.Nazev</a></td>
				@*<td>
			<a asp-action="Edit" asp-route-id="@item.KategorieId">Edit</a> |
			<a asp-action="Details" asp-route-id="@item.KategorieId">Details</a> |
			<a asp-action="Delete" asp-route-id="@item.KategorieId">Delete</a>
			</td>*@
			</tr>
		}
	</tbody>
</table>

<h2 class="tw-text-2xl">Produkty</h2>
<section class="tw-grid tw-grid-cols-4 tw-gap-4 py-4">
@foreach (var item in Model.Vyrobky)
{
	<div class="card">
		@if (item.Obrazek != null) {
			<img class="card-img-top" src="@item.Obrazek" alt="Produkt">
		}
		<div class="card-body">
			<h5 class="card-title">@item.Nazev</h5>
			<p class="card-text">@item.Popis</p>
		</div>
</div>
	}
</section>