@model EshopMVC.Models.Vyrobek

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vyrobek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obrazek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obrazek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategorie.KategorieId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sleva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sleva.SlevaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VyrobekId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
