@model IEnumerable<EshopMVC.Models.Vyrobek>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obrazek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sleva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obrazek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategorie.KategorieId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sleva.SlevaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VyrobekId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VyrobekId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VyrobekId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
